<app-header></app-header>
<div class="container-fluid pt-5">

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-4 mb-4 mb-md-0 d-flex justify-content-center">
      <div class="card shadow-lg" style="width: 18rem;">
        <img class="card-img-top" src="{{ doctor?.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ doctor?.name }}</h5>
          <p class="card-text">{{ doctor?.org }}</p>
        </div>
      </div>
    </div>

    <div class="col-8 col-md-3 d-flex justify-content-center flex-column">

      <div class="input-group">
        <!-- input box -->
        <input class="form-control" name="mydate" placeholder="Select a date"
               angular-mydatepicker #dp="angular-mydatepicker"
               [(ngModel)]="model" [options]="myDpOptions"
               (dateChanged)="onMyDateChanged($event)"/>

        <!-- clear date button -->
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" *ngIf="model" (click)="dp.clearDate(); clearMyDate()">
            <i class="fa fa-close"></i>
          </button>
        </div>

        <!-- toggle calendar button -->
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
            <i class="fa fa-calendar-o"></i>
          </button>
        </div>
      </div>

      <select [disabled]="disableHours" class="form-control my-4" name="time" id="time" (change)="changeTime($event)">
        <option selected="true" disabled="disabled" value="time">Choose Time Slot</option>
        <option *ngFor="let hour of activeHours[selectedDayIndex]" value="{{ hour }}">{{ hour }}</option>
      </select>

      <div class="d-flex justify-content-center">
        <button [disabled]="disableBtn" class="btn btn-primary" (click)="checkBookAppointment()">create appointment
        </button>
      </div>

    </div>

  </div>

</div>
